absl-py==1.1.0
altgraph==0.17.2
attrs==21.4.0
cycler==0.11.0
importlib-metadata==4.12.0
kiwisolver==1.4.4
macholib==1.16
matplotlib==3.5.2
mediapipe==0.8.10.1
modulegraph==0.19.2
numpy==1.21.6
opencv-contrib-python==4.6.0.66
opencv-python==4.6.0.66
packaging==21.3
Pillow==9.2.0
protobuf==3.20.1
py2app==0.28
pyinstaller-hooks-contrib==2022.8
pyobjc-core==8.5
pyobjc-framework-Cocoa==8.5
pyparsing==3.0.9
python-dateutil==2.8.2
pyvirtualcam==0.9.1
rumps==0.3.0
six==1.16.0
typing-extensions==4.3.0
zipp==3.8.1
